<ion-view title="Intro">
    
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">        
        
        <ion-slide class="intro slide1">
            <div class="container">    
                <div class="txtWhite home-img-logo-lg img-intro">MYLO</div>
                <div class="txtWhite intro-title">Your Mediation Log</div>

                <div class="txtWhite intro-title"><strong>Demo</strong></div>

                <div class="txtWhite intro-centred">How to use the App<br>Step1. Meditate.</div>
                <div class="intro-chakra"></div>
            </div>                            
        </ion-slide>

        <ion-slide class="intro slide2">   
            <div class="container">         
                <div class="txtWhite intro-centred low">
                Step2. Yes/No:<br></div>
                <div style="width:100%; text-align:center">
                    <img height="300" width="auto" class="intro-shot" src="img/intro/intro-yesno.png"/>
                </div>
                <div class="txtWhite intro-centred low">Click buttons / Swipe Left or Right.</div>       
            </div>    
        </ion-slide>

        <ion-slide class="intro slide3">  
            <div class="container">              
                <div class="txtWhite intro-centred low">
                Step3. Time:<br></div>
                <div style="width:100%; text-align:center">
                    <img height="300" width="auto" class="intro-shot" src="img/intro/intro-slider.png"/>
                </div>
                <div class="txtWhite intro-centred low">Slide button up / down. <br>Then Click / slide arrow to progress.</div>
            </div>      
        </ion-slide>        

        <ion-slide class="intro slide4">  
            <div class="container">              
                <div class="txtWhite intro-centred low">
                Step4. Stats:<br></div>
                <div style="width:100%; text-align:center">
                    <img height="300" width="auto" class="intro-shot" src="img/intro/intro-stats.png"/>
                </div>
                <div class="txtWhite intro-centred low">View Stats created so far.</div>
                <div class="home-btns-cont home-btn-start">
                    <a ng-click="startApp()"  class="txtWhite intro-run-mylo button icon-right ion-chevron-right button-clear button-dark">Start using MYLO</a>
                </div>      
            </div>   
        </ion-slide>        

    </ion-slide-box>


</ion-view>

