<ion-view title="Login">

    <ion-nav-buttons side="left" ng-show="parentObj.loginState" ng-click(myloBack())>        
                <h3 class="txtWhite btnBack header-home-but">
                    <a swapColour="changeColour()" data-mylonxtpage="0">< Go back</a>
                </h3>
    </ion-nav-buttons>
    
    <ion-content ng-controller="LoginCtrl">    
    
        <div class="container">
               
            <div ng-show="parentObj.loginState">                
                <p class="txtWhite txt-info login-welcome">
                    Hello, {{ parentObj.displayName }} </br> 
                    you are logged in using {{ parentObj.user.provider }}
                </p>
                <button ng-click="logOut()" class="button button-full button-stable btn-logout">Logout</button> 

            </div>
             
            <div ng-hide="parentObj.loginState" >
                <div ng-show="{{parentObj.connectState}}" >        
                    <div class="card">
                        <ion-list>   
                            <ion-item>
                                <div ng-show="{{!parentObj.connectState}}" class="disabledBox"></div>
                                <div ng-show="{{parentObj.connectState}}" ></div>
                                <form style="margin-left:0; width:100%;">    
                                    <p class="login-inline" style="margin: 0px 3.5em;">Email</p>                                    
                                    <label class="item item-input">
                                        <input type="email" placeholder="yourname@email.com here" ng-model="form.email" class="login-inline txtWhite"/>
                                    </label>
                                    <label class="item item-input">
                                        <input type="password" placeholder="password here" ng-model="form.password" class="login-inline txtWhite"/>
                                    </label>
                                    <div style="text-align:right">
                                        <button ng-click="createUser()" class="button button-full50 button-stable btn-logout">Create</button>  
                                        <button ng-click="removeUser()" class="button button-full50 button-stable btn-logout">Delete</button>  
                                        <button ng-click="loginWithPass()" class="button button-full50 button-stable btn-logout">Login</button>  
                                    </div>
                                    
                                    <p class="login-inline loginMessageTxt" ng-if="message">Message: <strong>{{ message }}</strong></p>
                                    <p class="login-inline loginMessageTxt" ng-if="error">Error: <strong>{{ error }}</strong></p>         
                                </form>
                            </ion-item>                
                                                
                            <ion-item ng-repeat="login in loginGrp" ng-if="!$last" >
                                    <div ng-show="{{parentObj.connectState}}" class="boxHitArea" ng-click="{{login.auth}}"></div>  
                                    <div ng-show="{{!parentObj.connectState}}" class="disableBox"></div>      
                                    
                                    <img ng-src="{{login.img}}" class="login-inline" />                                
                                    <p class="login-inline">{{ login.name }}</p>
                            </ion-item>
                            
                            
                        </ion-list>
                    </div>
                </div>
                <div ng-show="{{!parentObj.connectState}}">
                    <div class="card">
                        <p class="login-inline loginMessageTxt" style="text-align:center; width:100%">No Internet connection found:<br>                        
                        Connect to internet to login using<br>Facebook, Twitter or Google</p><p></p>
                        <!-- <ion-list> 
                            <ion-item ng-click="Anonamous()">
                                <img ng-src="{{loginGrp[3].img}}" class="login-inline" />
                                <p class="login-inline">{{ loginGrp[3].name }}</p>
                            </ion-item>  
                        </ion-list> -->
                    </div>
                </div>
            </div>
        </div>

        
    </ion-content>
</ion-view>

