<ion-view title="User Feedback">
    
	<ion-nav-buttons side="left">
            <div class="stripes" sidemenubut>
            <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
            </button>
            </div>
            <h3 class="txtWhite btnBack header-home-but">
                <a swapColour="changeColour()" data-mylonxtpage="0">Home</a>
            </h3>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">                 
        <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
        </h3>
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a  ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Logout</a>            
        </h3>  
    </ion-nav-buttons>

    <ion-content ng-controller="MeditationFeedbackCtrl" scroll="true">
    	<div class="container">
    		<p class="txtInfo txtWhite dblPage-txt">Feedback</p>
    		<section class="infoCont">	
			    
			    <p class="txtWhite">We are contiually improving this app. We want it to be a useful aid for your meditation. You can help make this app better for your daily usage by sending us feedback.</p>
                <p class="txtWhite">Let us know what you like or even dislike about the app.</p>
                <p class="txtWhite">Give us your suggestions on how to improve it to be more useful for you.</p>

                <p class="txtWhite">Help us make it work for you.</P>

                
                <form name="myloForm" class="mylo-form">
                    <label class="txtWhite">Username:</label><br>
                    <input ng-model="feedback.user" id="formUser" placeholder="userName" type="text" ng-click="pageShift($event, +300)" ng-blur="pageShift($event, -300)"/>

                    <label class="txtWhite">Name:</label><br>
                    <input ng-model="feedback.name" id="formName" placeholder="name" type="text" ng-click="pageShift($event, +300)"  ng-blur="pageShift($event, -300)"/>

                    <label class="txtWhite">email:</label><br>
                    <input ng-model="feedback.email" id="formEmail" placeholder="email" type="email" required ng-click="pageShift($event, +300)"  ng-blur="pageShift($event, -300)"/>

                    <label class="txtWhite">comments:</label><br>
                    <textarea ng-Model="feedback.comments" id="formComments" placeholder="leave your comments here" type="text" ng-click="pageShift($event, +300)"  ng-blur="pageShift($event, -300)"></textarea>
                </form>

			    <button ng-click="submitComments()" class="button button-full button-stable btn-logout"> submit comments </button>
			</section>			
        </div>
    </ion-content>

   
</ion-view>