<ion-view title="Meditated">

	<ion-nav-buttons side="left">
            <div class="stripes" sidemenubut>
            <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
            </button>
            </div>
    </ion-nav-buttons>
	
	<ion-nav-buttons side="right">                 
        <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
        </h3>
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a  ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Logout</a>            
        </h3>  
    </ion-nav-buttons>

    <ion-content ng-controller="MeditatedCtrl" scroll="false">
	    <div class="container">
	    	
		    <p class="txtInfo txtWhite dblPage-txt">Did you meditate yesterday?</p>
		    <div id="txtDblCont">
	            <div id="txtId2" on-swipe-right="onSwipeAcross('yes')">
	            	<a swapColour="changeColour()" class="ansButtonTop btn-meditated button button-clear button-dark txtWhite dblPage-txt" ng-click="setAnswer('yes')" data-mylonxtpage="{{medEventYes}}">YES <span>></span></a>
	            </div>             
	            <div id="txtId3" on-swipe-left="onSwipeAcross('no')">
	            	<a swapColour="changeColour()" class="ansButtonBot btn-meditated button button-clear button-dark txtWhite dblPage-txt" ng-click="setAnswer('no')" data-mylonxtpage="{{medEventNo}}"><span><</span> NO</a>
	            </div>	           
	        </div>
	        <div class="container-flex-abs">
				<div class="container-sm">
					<div class="home-img-figure-sm"></div>
				</div>
			</div>
			
        </div>
    </ion-content>
</ion-view>