<ion-view title="How to meditate">
    
	<ion-nav-buttons side="left">
            <div class="stripes" sidemenubut>
            <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
            </button>
            </div>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">                 
        <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
        </h3>
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a  ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Logout</a>            
        </h3>  
    </ion-nav-buttons>

    <ion-content ng-controller="MeditationHowCtrl" scroll="true">
    	<div class="container">
    		<p class="txtInfo txtWhite dblPage-txt">How to meditate</p>
    		<article class="infoCont">	    	
			    
			    
			    <h1 class="txtWhite">Step 1 – Allocate a space</h1>
			    <p class="txtWhite">Find a suitable location in your home where you can practice in comfort each day. We can even set up a small table with a candle on it, as a point of focus if this helps.</p>

			    <h1 class="txtWhite">Step 2 – Allocate time</h1>
			    <p class="txtWhite">Try and ensure you have enough time to do the meditation that’s best for you. Mute your phone, and make sure there are no distractions likely to interrupt you in the middle of the meditation.</p>

			    <h1 class="txtWhite">Step 3 – Do it every day</h1>
			    <p class="txtWhite">The more regularly you practise the meditation, ideally every morning for around 15 minutes or more, the more of a beneficial effect it will have. We cannot repeat this enough times! Those who report the most dramatic results from the meditation are those who meditate every day, and who experience some episodes of thoughtless awareness (or mental silence) at some point during the session.</p>

                <aside class="txtWhite">
                    This content was extracted from <a ng-click='externalLink("http://meditationforstress.net/how-to-meditate/")' >http://meditationforstress.net</a> visit the site for more information.
                </aside>

			    <button ng-click="nxtPage()" class="button button-full button-stable btn-logout"> Meditation Guide > </button>
			</article>			
        </div>
    </ion-content>

   
</ion-view>