<ion-view title="Meditation Day">
	
	<ion-nav-buttons side="left">
            <div class="stripes" sidemenubut>
            <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
            </button>
            </div>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">                 
        <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
        </h3>
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a  ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Logout</a>            
        </h3>  
    </ion-nav-buttons>

    <ion-content ng-controller="MeditationDayCtrl" scroll="false">
        <div class="container">
            <p class="txtInfo txtWhite dblPage-txt">How was your day?</p>
        	<div class="time-chart-cont">
	            <div class="time-chart-vert">
	                    <div class="time-chart-vert-line">
	                        <div dayselector class="time-marker"></div>
	                    </div>
	                    <div id="dayGood" class="time-chart-horiz-line" style="top:0%"> <p class="chart-mins mins-selected">Good</p> </div>
	                    
	                    <div id="dayAvg" class="time-chart-horiz-line" style="top:50%"> <p class="chart-mins">Average</p> </div>
	                    
	                    <div id="dayPoor" class="time-chart-horiz-line" style="top:90%"> <p class="chart-mins">Poor</p> </div>         
	                     
	            </div>
	            <div class="swipe-container-right" on-swipe-right="setAnswer()"> 
                    <a swapColour="changeColour()" ng-click="setAnswer()" class="page-arrow-right arrow-right button button-clear button-dark txtWhite" data-mylonxtpage="5">></a>  
                </div>   
	        </div>
        </div>
    </ion-content>
</ion-view>