<ion-view title="Meditation Stats">
    
    <ion-nav-buttons side="left">
            <div class="stripes" sidemenubut>
            <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
            </button>
            </div>
            <h3 class="txtWhite btnBack header-home-but">
                <a swapColour="changeColour()" data-mylonxtpage="0">Home</a>
            </h3>
    </ion-nav-buttons>

    
    <ion-nav-buttons side="right">                 
        <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
        </h3>
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a  ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Logout</a>            
        </h3>  
    </ion-nav-buttons>

    <ion-content >
        <div class="container">
            <p class="txtInfo txtWhite dblPage-txt">Meditation Stats</p>

            <p class="txtWhite keyTitle">Colour key:</p>
            <ul class="txtWhite" >
                <li ng-repeat="mykey in myloKey" ng-if="$index < 3" class="vert">
                    <div class="keyBox {{mykey.boxCol}}"></div>
                    <p class="keyTxt">{{mykey.pageName}}</p>                    
                </li>
                <li ng-repeat="mykey in myloKey" ng-if="$index >= 3" class="horiz">
                    <div class="keyBox {{mykey.boxCol}}"></div>
                    <p class="keyTxt">{{mykey.pageName}}</p>                    
                </li>
            </ul>
            
            <div id="VisCont" width="100%" svgstats></div>
            <div class="swipe-container-right" on-swipe-right="onSwipeAcross('yes')"> 
                <a swapColour="changeColour()" class="page-arrow-right arrow-right button button-clear button-dark txtWhite" data-mylonxtpage="{{medEventAdvice}}">></a> 
            </div>
        </div>   
        
        
        <!--
        <ul>
            <li ng-repeat="statObj in statsArray">
                <p>{{ statObj.medDate }}</br>
                {{ statObj.medInit }}</br>
                {{ statObj.medLen }}</br>
                {{ statObj.medTho }}</br>
                </br>
            </li>
        </ul>
        -->

        

        
    </ion-content>
</ion-view>