<ion-view title="Meditation Reflect">

	
	<ion-nav-buttons side="left">
		<h3 class="txtWhite btnBack header-home-but">
			<a swapColour="changeColour()" data-mylonxtpage="0">Home</a>
		</h3>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">                 
        <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
        </h3>
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a  ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Logout</a>
        </h3>  
    </ion-nav-buttons>

	<ion-content ng-controller="MeditationReflectCtrl">
		<div class="container">
			<p class="txtInfo txtWhite dblPage-txt">Meditation Reflect</p>
			<p class="txtInfoData txtWhite">
				{{ parentObj.reflection }}
			</p>
			<a swapColour="changeColour()" ng-click="viewStats()" on-swipe-right="onSwipeAcross('yes')" class="page-arrow-center button button-clear button-dark txtWhite" data-mylonxtpage="5"> view stats ></a> 
		</div>
	</ion-content>
</ion-view>