<ion-view title="Meditation Advice">

	
	<ion-nav-buttons side="left">
		<h3 class="txtWhite btnBack header-home-but">
			<a swapColour="changeColour()" data-mylonxtpage="0">Home</a>
		</h3>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">                 
        <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
        </h3>
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a  ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Logout</a>
        </h3>  
    </ion-nav-buttons>

	<ion-content ng-controller="MeditationAdviceCtrl">
		<div class="containerAdvice">
			<p class="txtInfo txtWhite dblPage-txt">Meditation Advice</p>
			<p class="txtInfoData txtWhite adviceTxt" ng-bind-html="parentObj.advice">
			</p>
			<p ng-if="adviceNum != 2" class="txtInfoData txtWhite adviceTxt">
				See <a ng-click='externalLink("http://meditationforstress.net/how-to-meditate/")' >meditationforstress.net website</a> (opens in browser) for more details
			</p>
			<p ng-if="adviceNum == 2">
			</p>
			<button swapColour="changeColour()" data-mylonxtpage="{{medEventHome}}" class="button button-full button-stable btn-logout btn-advice-margin"> < Back to homepage  </button>
		</div>
	</ion-content>
</ion-view>