/* scss sass code */
@font-face {
  font-family: AdventPro-Regular-webfont;
  font-style: normal;
  font-weight: normal;
  src: url("../lib/ionic/fonts/AdventPro-Regular-webfont.eot");
  src: url("../lib/ionic/fonts/AdventPro-Regular-webfont.eot?") format("eot"), url("../lib/ionic/fonts/AdventPro-Regular-webfont.woff") format("woff"), url("../lib/ionic/fonts/AdventPro-Regular-webfont.ttf") format("truetype"); }
/* Icons */
/* text styles */
/* buttons - top bar */
.btnLogin, .btnBack {
  font-family: AdventPro-Regular-webfont;
  font-size: 1.5em !important;
  color: #ffffff !important; }
  .btnLogin a, .btnBack a {
    text-decoration: none !important;
    color: #ffffff; }

/* header title */
h1.title {
  display: none; }

/* Login */
.login-set {
  width: 100%; }

.login-inline {
  display: inline-block; }

.loginBtnRightFix {
  float: right; }

/* view pane fixed gradient */
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666; }

#bgId {
  height: inherit; }

.pane, .view, .bar {
  background-color: transparent !important; }

.gradOverlay1 {
  height: inherit;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */ }

.gradOverlay2 {
  height: inherit;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 50%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(50%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 50%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 50%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 50%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 50%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */ }

/* animate bg */
.greenBg-add, .greenBg-remove,
.redBg-add, .redBg-remove,
.blueBg-add, .blueBg-remove,
.yellBg-add, .yellBg-add {
  -webkit-transition: background 1000ms linear !important;
  -moz-transition: background 1000ms linear !important;
  -o-transition: background 1000ms linear !important;
  transition: background 1000ms linear !important; }

.greenBg,
.greenBg-add.greenBg-add-active {
  background-color: #9BDB25; }

.redBg,
.redBg-add.redBg-add-active {
  background-color: #D62459; }

.blueBg,
.blueBg-add.blueBg-add-active {
  background-color: #51DBD8; }

.yellBg,
.yellBg-add.yellBg-add-active {
  background-color: #D8DB51; }

/*# sourceMappingURL=test.css.map */
